footer {
    background-color: #00613D;
    color: white;
    padding: 10px;
   
 
   
 text-align: center;
}

.footer-content {
    max-width: 960px;
    margin: 0 auto;
    align-items: center;
}




.text-main{
    text-align: center;
    margin-top: 10px;
}
.text-main h6 {
    text-align: center;
    font-size: 16px;
}

.image-ketnoi {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url('../image/1_ketnoi.svg');
    background-position: center center;
    background-repeat: no-repeat;
}

.image-center {
    width: 200px; /* Đặt kích thước cố định */
    height: 200px; /* Đặt kích thước cố định */
}
